* {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 300;
    border: none;
    border-width: 0px;
    outline: none;
    outline-width: 0px;

}

h1 {
    font-size: 30px;
    font-weight: 600;
    text-align: left;
    padding-left: 10px;
}


.category_title {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 200;
    padding-left: 10px;
    padding-top: 10px;
    display: block;
    width: 100%;
}

input {
    outline: solid;
    outline-style: solid;
    outline-width: 2px;
}

button {
    font-size: 15px;
    font-weight: 500;
    outline: auto;
}

button:active {
    background-color: brown !important;
}

p {
    padding: 20px;
}

.all_input_containers {
    max-width: 1000px;
    display: inline;
}


.input-box-with-invalid-user-input {
    background-color: lightcoral;
    /* margin-left: 50px; */
    color: aliceblue;
    /* margin-left: 25px !important; */
    padding-left: 40px !important;
    margin-right: -10px !important;
    /* width: 150px; */
    /* height: 40px !important;  */
}

.input_container {
    margin: 1vw;
}

.input_container input {
    /* max-width: 500px; */
    min-width: 100px;
    width: 100px;
    height: 35px;
    margin: 20px;
    margin-left: 40px;
    
    margin-bottom: 20px;
    padding-left: 10px;
    border-radius: 3px;
    border-width: 1px;
    /* display: flex; */
}

.slow-page-button {
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 40px;
    width: 200px;
    text-align: center;

}

.disabled-auto-update {
    background-color: wheat !important;
    border-color: yellow !important;
}

#auto-update-toggle {
    margin-left: 40px;
    display: inline;
    background-color: #d2e6b5;
}


.input_container input:focus {
    border-width: -1px;
}

.input_container p {
    text-align: left;
    padding: 0px;
    padding-left: 20px;
    margin: 0px;
    margin-left: 10px;
    /* max-width: 100px; */
    width: 100px;
    /* float: left !important; */
    /* display: inline; */
    /* display: inline; */
    
}


.input_container button {
    height: 60px;
    width: 70px;
    /* display: block; */
    margin-top: 0px;
    margin-left: 40px;
    margin-bottom: 20px;
    /* display: inline; */

}    

.input_container div {
    float: left;
}


.outer {
    justify-content: center;
    /* display: flex; */
    /* -ms-flex-align: center; */
    /* max-width: 1000px; */
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    /* display: flex; */
    /* justify-content: center; */
    /* align-self: center;
    align-items: center; */
}

.category_div {
    display: block;
    display: flex;
    /* min-width: 200px; */
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: left;
}